# Dependências
node_modules/

# Build
dist/
build/

# Variáveis de ambiente
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# TypeORM migration (opcional)
temp/